-@ val title: String = "SBT XSLT Plugin Presentation"
-@ val headline: String = "sbt xslt plugin presentation"
-@ val body: String

!!! 5
html(lang="en")
  head
    title= title
  body
    h1 = headline
    != body