- attributes("title") = "Recipes: Your online cookbook"
- attributes("headline") = "Welcome to Recipes 2.0"
-@ val userId: String

form.home-form
  = "Hola" + " " + userId + " !!!!!!!"
  button(type="submit" onclick="alert('JELLO!!!')") = "Login"

