- attributes("title") = "Recipes: Your online cookbook"
- attributes("headline") = "Welcome to Recipes 2.0"
-@ val userId: String

form.login-form(action="/admin/checkUser" method="get" id="login-form")
  .form-submit
    = "Hola" + " " + userId + " !!!!!!!"

