- attributes("title") = "Recipes: Your online cookbook"
- attributes("headline") = "Welcome to Recipes 2.0"
-@ val userId: String = ""

form.login-form(action="/admin/checkUser" method="get" id="login-form")
  input(type="text" name="userId" maxlength="10")
  input(type="text" name="password" maxlength="10")
  button(type="submit") = "Login"

