- attributes("title") = "Scalatra: a tiny, Sinatra-like web framework for Scala"
- attributes("headline") = "Welcome to Scalatra"

form.login-form(action="/recipes/123" method="get" id="login-form")
  .form-submit
    button(type="submit")

